body {
background-image: url("background.jpg");
background-color: #ffffff;
background-attachment: fixed;
background-size: cover;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content {
    background-color:#d8d8d894;
    width: 1380px;
    padding: 0;
    margin: 40px auto;
    border-radius: 15px;
}

.chars {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(4,1fr);
    margin: 0;
    padding-bottom: 40px;
}