body {
background-image: url("background.jpg");
background-color: #ffffff;
background-attachment: fixed;
background-size: cover;
}

.chars {
    grid-gap: 20px;
    border-bottom: 1px solid;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 0;
    padding-bottom: 40px;
}