{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Adventure Time</title>
    {% include 'parciais/head.html' %}
</head>
<body>
    <h1>Lista de Personagens</h1>
    <tr>
        <th>Nome</th>
        <th>Idade</th>
        <th>Espécie</th>
        <th>Ocupação</th>
    </tr>

    <ul>
        <li>
            <a href="{%url 'info' personagem.Nome %}">{{ personagem.Nome }}>
                <figure>
                    <img src="{% static 'finn.png' %}">
                    <figcaption>Finn</figcaption>
                </figure>
            </a>
        </li>
    </ul>
    
    
    
    <!--<table>
        {% block conteudo %} {% endblock %}
        <tr>
            <th>Nome</th>
            <th>Idade</th>
            <th>Espécie</th>
            <th>Ocupação</th>
        </tr>
    {% for personagem in personagens %}
        <tr>
            <td>
                <a href="{%url 'info' personagem.Nome %}">{{ personagem.Nome }}</a>
            </td>
            <td>{{ personagem.Idade }}</td>
            <td>{{ personagem.Espécie }}</td>
            <td>{{ personagem.Ocupação }}</td>
        </tr>
    {% endfor %}
    </table>-->
</body>
</html>
