{% include 'parciais/char_info.html' %}
{% block informações %}
{% load static %}

<div class="char-bio">
    <h1>{{ personagens.Nome }}</h1>
    <b>Idade:</b>
    <span>{{ personagens.Idade }}</span>
    <br>
    <b>Espécie:</b>
    <span>{{ personagens.Espécie }}</span>
    <br>
    <b>Gênero:</b>
    <span>{{ personagens.Gênero }}</span>
    <br>
    <b>Ocupação:</b>
    <span>{{ personagens.Ocupação }}</span>
    <br>
    <b>Descrição:</b>
    <span>{{ personagens.Descrição }}</span>
</div>
<br>

{% endblock %}